<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.local.KeyRemapping</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/hidutil</string>
        <string>property</string>
        <string>--set</string>
        <string>{"UserKeyMapping":[
            {   "HIDKeyboardModifierMappingSrc":0x0000ff0100000010,
                "HIDKeyboardModifierMappingDst":0x0000000700000068
            },{ "HIDKeyboardModifierMappingSrc":0x0000000c00000221,
                "HIDKeyboardModifierMappingDst":0x000000070000006a
            },{ "HIDKeyboardModifierMappingSrc":0x0000000c000000cf,
                "HIDKeyboardModifierMappingDst":0x0000000700000069
            }
        ]}</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
